body {
  background-color:black;
  color:white;
}
img, video, source {
  display:block;
  margin-left: auto; 
  margin-right: auto;
}
pre {
  display:inline;
}
a {
  color: #006400;
}
a:visited {
  color: grey;
}
li {
  margin: 10px 0;
}
.center {
  margin-left: auto;
  margin-right: auto;
}


